<h1>Chat App</h1>

<ul>
	<% @chat.each do |message| %>
		<li><%= message %></li>
	<% end %>

</ul>

<hr>

<form action="/message" method="post">
  <input id="text_input" type="text" name="message">
  <input type="submit">
</form>

<hr>

<a href='/'>Go Back</a>


<script>
	var input = document.getElementById('text_input');

	input.focus();
	input.select();
</script>