<h1>Chat App</h1>
<p>You are <strong><%= @user %></strong></p>

<ul>
	<% @chat.each do |message| %>
		<li><%= message %></li>
	<% end %>

</ul>

<hr>

<form action="/<%= @user %>/message" method="post">
	<label for="message">MESSAGE: </label>
	<input id="message" type="text" name="message">
  	<input type="submit">
</form>

<hr>

<a href='/'>Go Back to Home</a>


<script>
	var messageInput = document.getElementById('message');

	messageInput.focus();
	messageInput.select();
	
</script>