
<p>You are <strong><%= @user %></strong></p>

<ul class="chat-window list-group">
	<% @chat.each do |message| %>
		<li><%= message %></li>
	<% end %>

</ul>

<hr>

<form action="/<%= @user %>/message" method="post">
	<label for="message">MESSAGE: </label>
	<input id="message" type="text" name="message">
  	<input class="btn btn-sm btn-primary" type="submit">
</form>

<hr>

<a href='/'>Go Back to Home</a>


<script>
	$('#message').focus();
	$('#message').select();
	// $('.chat-window').animate({ scrollTop: $('.chat-window').height() });
	$('.chat-window').scrollTop($('.chat-window')[0].scrollHeight);
	
</script>