<div>
  <h2>Please choose a channel and enter a user name.</h2>
  <p>Experimenting with Websockets.</p>
  <hr>
  <form id="chatForm" action="" method="post">
      <h3> Choose A Chat </h3>
      <p id='info'></p>
        <label> USER: </label>
        <input id="userName" type="text" placeholder="Enter user name." />
        <label>Channel Name(select from dropdown or enter a new one): </label>
        <select>
              <option value="">Select a Channel</option>
          <% @channels.each do |c| %>
              <option value="<%= c.name %>"><%= c.name %></option>
          <% end %>
        </select>
        <input id="newChannel" placeholder="add new channel" type="text">
        <input type="submit"/>
  </form>


</div>

<script>
  var appState = {
    user: '',
    channel: $('option:selected')[0].value,
    channels: [],
    channelUrl: ''
  }

// Getting Channels
  $.ajax({ url: '/channels', dataType: 'json'}).done( function(d){
    d.forEach(function(c){ appState.channels.push(c.name) })
  });

// ------------
// UI Functions
  $('#chatForm').on('submit', function(e){
    var user = $('#userName')[0].value.trim();
    var url = $('#chatForm').attr("action");
    console.log(user)
    if ( !user || !url || appState.channel.length === 0 ) {
      alert('Please Enter a User Name / Channel!')
      return false;
    }
  });

  $('input#userName').keyup(function(e){
    appState.user = e.target.value;
    getPostUrl( appState.channel, appState.user)
  })

  $('select').change(function(e){
    appState.channel = e.target.value;
    getPostUrl( appState.channel, appState.user)
  });

  $('#newChannel').keyup(function(e){
    appState.channel = e.target.value;
    getPostUrl(appState.channel, appState.user)
  });

  function getPostUrl(channel, user){
      appState.channelUrl = "/chat/" + channel + '/' + user;
      $('#chatForm').attr("action", appState.channelUrl);
      $('#info').html("Your user name will be: <strong>" +
                      user + "</strong> in the channel: <strong>" +
                      channel + "</strong>");

      console.log("Your user name will be: " + user + " in the channel: " + channel);
  }

</script>
