<div class="text-center">
<h2>Please choose a chat type and enter a user name.</h2>
<p>Experimenting with different chat style applications</p>
<hr>
<div id="content"></div>
<script src="/js/chatGate.js" type="text/babel"></script>

</div>
