<h3>Welcome, Please enter a user name.</h3>

<form action="/user" method="get">
	<label for="user">USER: </label>
  	<input id="text_input" type="text" name="user">
  	<input class="btn btn-sm btn-primary" type="submit">
</form>
