<h1>Hello, Welcome to CHAT</h1>

<p>Please enter a user name.</p>

<form action="/user" method="post">
<label for="user">ENTER USER: </label>
  <input id="text_input" type="text" name="user">
  <input type="submit">
</form>
