<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chap App</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>CHAT APP</h1>
		<hr>
		<%= yield  %>
		<hr>
		<footer>Made by <a href="https://www.onlytheclouds.com">John</a>.</footer>
	</div>
</body>
</html>