
<h3>Hello <strong><%= @user %></strong>! Welcome to Live Reload.</h3>
<div id="dump"></div>

<hr>

<label for="message">MESSAGE: </label>
<input id="message" type="text" name="message">
<input id="send_message" class="btn btn-sm btn-primary" type="submit">

<hr>

<a href='/'>Go Back to Home</a>

<script>
	var appState = {
		newCSVLength: 0,
		oldCSVLength: 0,
		current_data: 'not set',
		count: 0

	}
	
	// Read CSV File first and Setup
	readAndDisplayFromCSV();

	// Setup
	$('#message').focus();
	$('#message').select();

	// Send Message Functions
	$('#message').keypress(function (e) {
	  if (e.which == 13) {
		postToCSV($('#message').val());
	    $('#message').val('');
	    return false;
	  }
	});

	$("#send_message").click(function(){
		postToCSV($('#message').val());
		$('#message').val('');
		return false;
	});


	// Check csv for new data
	setInterval(function(){ readAndDisplayFromCSV(); }, 1000);

	function readAndDisplayFromCSV() {
		$.ajax({
		  url: '/messages/live_reload',
		  dataType: 'json',
		}).done(function(d){
			// set current data to array
			appState.current_data = d;
			
			// console.log('STATUS=> reading csv - CDL: ' + appState.newCSVLength + ' OCL: ' + appState.oldCSVLength);
			
			// If new, for first load
			if (appState.newCSVLength === 0 ){
				createList(d);
				// set new to current length
				appState.newCSVLength = appState.current_data.length;
				// set old to new to not add any new data
				appState.oldCSVLength = appState.newCSVLength;
				// auto scroll
				autoScroll();
			}

			appState.newCSVLength = appState.current_data.length;

			// FIND NEW MESSAGES AND APPEND THEM
			if ( appState.newCSVLength > appState.oldCSVLength) {
				console.log('STATUS=> appending...')

				// Ques up messages so they don't go missing and get displayed in order
				var diff = appState.newCSVLength - appState.oldCSVLength;
				
				for (var i = 0; i < diff; i++ ){
					//Setting up data
					var  row = appState.current_data[appState.oldCSVLength]

					if ( row.user === "STATUS") {
						$('#dump > ul > li:last-child').after(createLI(row, 'red'));
					} else {
						$('#dump > ul > li:last-child').after(createLI(row, 'green'));
					}

					appState.oldCSVLength += 1;
					appState.count += 1;
					
				}

				autoScroll();

			}
		});
	}

	function createList(data){
		var allRows = data;
		var list = '<ul class="chat-window list-group">';
		for (var i = 0; i < allRows.length; i++){
			var row = allRows[i]

			if ( row.user === "STATUS") {
				list += createLI(row, 'red')
			} else {
				list += createLI(row, 'green')
			}
		}

		list += '</ul>'

		$('#dump').append(list)	
	}

	function createLI(row, style){
		var date = new Date(row.date).toString().split('GMT');

		return '<li class=' + style + '>' + date[0] + ' | ' + row.user + ' : ' + row.message + '</li>'
	}

	function autoScroll(){
		$("div#dump ul").animate({ scrollTop: $("div#dump ul")[0].scrollHeight }, "slow");
	}

	function postToCSV(text) {
		$.ajax({
		  type: "POST",
		  url: "/lr/<%= @user %>/message",
		  data: {message: text}
		}).done(function(d){
			appState.oldCSVLength = appState.newCSVLength
			console.log('STATUS=> posted to csv'); 	
		});

	}
	
</script>