.chat-window {
	height: 300px;
	overflow: scroll;
	background: rgb(250,250,250);
}

.chat-window li {
	margin-bottom: 2px;
	padding: 5px;
}

#dump {
	height: 300px;
	overflow: scroll;
}

/*li:nth-child(even){
	background-color: lightblue;
}

tr:nth-child(even){
	background-color: lightblue;
}*/

.red {
	background-color: rgba(255, 0, 75, .5);
}
.green:nth-child(even) {
	background-color: rgba(0,255,100,.5);
}
.green:nth-child(odd){
	background-color: rgba(0,255,200,.5);
}

.flash {
	color: red;
	padding: 10px;

}

.commentList {
	height: 200px;
	overflow: scroll;
}

input.btn.btn-sm.btn-primary {
	margin-left: 10px;
}
label {
	margin-right: 10px;
  margin-left: 10px;
}
